#Happybirthdaypapa{
    border: 20px;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}
body{
    background-color:greenyellow;
    border-radius: 10px;
}
#May_2{
    color: white;
}
#lp{
    color: blue;
}
#By{
color: red;
}
#lpi{
    color: rgb(32, 60, 218);
}
#w{
    color: royalblue;
}